<% if @log.count > 0 %>
  <ul id="ranking-log">
    <% @log.each do |log| %>
      <li>
        <%=
          raw(
            [
              '<b>',
              log.points,
              '</b>',
              'point'.pluralize(log.points),
              'for guessing the',
              "<span class='#{log.reason}'>",
              log.reason.gsub('_', ' '),
              '</span>',
              'on',
              log.game.title
            ].join(' ')
          )
        %>
        <div class="ranking-log-scores">
          <p>Placar do jogo: <%= log.game.score %></p>
          <p>Palpite: <%= log.guess %></p>

          <% if (log.game.tie? && log.game.has_extra_time_score? && log.reason == 'extra_time_score') || (log.game.penalties? && log.reason == 'penalties_winner') %>
            <p>&nbsp;</p>
            <p>Placar da prorrogação: <%= log.game.extra_time_score %>.</p>
            <p>Palpite sobre a prorrogação: <%= log.extra_time_guess %>.</p>
          <% end %>

          <% if log.game.penalties? && log.reason == 'penalties_winner' %>
            <p>&nbsp;</p>
            <p><%= log.game.penalties_winner_id == log.game.host_id ? log.game.host.name : log.game.visitor.name %> venceu o jogo nos pênalties.</p>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  Nada para mostrar sobre este usuário :(
<% end %>
