<div class="card card-panel">
  <div class="card-content">
    <div class="col s5 right-align host-name">
      <span class='team-name'><%= game.host.name %></span>
      <img class="flag" src="<%= game.host.flag %>">
      <%= number_field_tag 'score', {}, class: 'right-align' %>
    </div>
    <div class="col s1 versus">X</div>
    <div class="col s5 left-align">
      <span class='team-name'><%= game.visitor.name %></span>
      <img class="flag" src="<%= game.visitor&.flag %>">
      <input class="left-align"/>
    </div>
  </div>
  <div class="game-info">
    <%= game.date.strftime('%d/%m %H:%M') %> <%= game.place %>
  </div>
</div>
