<div class="card card-panel <%= 'disabled' if game.passed? %>">
  <div class="card-content">
    <div class="col s5 right-align host-name">
      <%= render 'team', team: game.host, team_defined: game.host.id.present?,
        alignment: 'right', game: game, score: game.host_score %>
    </div>
    <div class="col s1 versus">X</div>
    <div class="col s5 left-align">
      <%= render 'team', team: game.visitor, team_defined: game.visitor.id.present?,
        alignment: 'left', game: game, score: game.visitor_score %>
    </div>
  </div>
  <div class="game-info">
    <%= game.date.strftime('%d/%m %H:%M') %> <%= game.place %>
  </div>
</div>
