<div class="card-action center-align penalties-container">
  <% if game.host_id.present? && game.visitor.id.present? %>
    <section class="regular-time-warning">
      Game finished in the regular time
    </section>
    <section class="winner-selection hide">
      <p class="description">And the winner is...</p>
        <label>
          <input name="victor" type="radio" <%= 'checked' if game.penalties_winner_id == game.host_id %>
            data-winner="<%= game.host.id %>" />
          <span>
            <%= game.host.name %>
          </span>
        </label>
        <label>
          <input name="victor" type="radio" <%= 'checked' if game.penalties_winner_id == game.visitor_id %>
            data-winner="<%= game.host.id %>" />
          <span>
            <%= game.visitor.name %>
          </span>
        </label>
    </section>
  <% end %>
</div>
