<%= render 'layouts/header' %>

<section id='games-container' data-update-url="<%= user_guesses_tournament_path(@tournament) %>">
  <% @tournament.rounds.each do |round| %>
    <div class="row">
      <div class="col s4 offset-s4 center-align">
        <h3>
          <%= round.name %>
        </h3>
      </div>
      <div class="col s10 offset-s1">
        <div class="row">
          <% klass = 'offset-l3' if round.games.count == 1 %>
          <% round.games.order(:date).each_with_index do |game, index| %>
            <div class="col m12 l6 <%= klass %>">
              <%= render 'game_card', game: game %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>

<section id="teams-template" class="hide">
  <%= select_tag :teams, options_for_select(teams_for_select), class: 'browser-default', prompt: 'Select team' %>
</section>
