<% is_admin = current_user.tournament_admin?(@tournament) %>

<header id="header" class="page-topbar <%= 'admin-header' if is_admin %>">
  <div class="navbar-fixed">
    <nav class="navbar-color">
      <div class="nav-wrapper <%= 'user' unless is_admin %>">
        <%= link_to root_path do %>
          <div class="left">
            <%= image_tag @tournament.logo, class: 'tournament-logo' %>
          </div>
          <ul class="left">
            <li class="main-logo">
              <h3 class="logo-wrapper">
                <%= @tournament.name %>
              </h3>
            </li>
          </ul>
        <% end %>

        <% if user_signed_in? %>
          <div class="logout-button">
            <%= link_to('Sair', destroy_user_session_path, method: :delete) %>
          </div>
          <div class="ranking-link">
            <%= link_to 'Ranking', ranking_tournament_path(@tournament) %> |
          </div>
          <div class="user-name">
            Olá, <%= current_user.name %> |
          </div>
        <% end %>

      </div>
    </nav>
  </div>
</header>
