<header id="header" class="page-topbar <%= 'admin-header' if current_user.id == @tournament.user_id %>">
  <div class="navbar-fixed">
    <nav class="navbar-color">
      <div class="nav-wrapper">
        <div class="left">
          <%= image_tag @tournament.logo, class: 'tournament-logo' %>
        </div>
        <ul class="left">
          <li class="main-logo">
            <h3 class="logo-wrapper">
              <%= @tournament.name %>
            </h3>
          </li>
        </ul>

        <% if user_signed_in? %>
          <div class="logout-button">
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </div>
          <div class="user-name">
            Hello, <%= current_user.name %> |
          </div>
        <% end %>

      </div>
    </nav>
  </div>
</header>
