<!DOCTYPE html>
<html>
  <head>
    <title>Make your bet!</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <script>
      $(document).ready(function(){
        <% if flash[:alert] %>
          M.toast({ html: '<%= flash[:alert] %>' });
        <% end %>

        <% if flash[:notice] %>
          M.toast({ html: '<%= flash[:notice] %>' });
        <% end %>
      });
    </script>
  </body>
</html>
