<!DOCTYPE html>
<html>
  <head>
    <title>Faça suas apostas!</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'devise', media: 'all' %>
    <%= javascript_include_tag 'devise' %>
  </head>

  <body data-page='<%= pagejs %>'>
    <div id='container'>
      <%= yield %>
    </div>
    <script>
      $(document).ready(function(){
        <% if flash[:alert] %>
          M.toast({ html: '<%= flash[:alert] %>' });
        <% end %>

        <% if flash[:notice] %>
          M.toast({ html: '<%= flash[:notice] %>' });
        <% end %>
      });
    </script>
  </body>
</html>
